* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body,
html {
    overflow-x: hidden;
    height: 100%;
}

@media (max-width: 900px) {
    #nav-bar ul li {
        display: none;
    }
    .home header img {
        height: 55%;
    }
    #slogan h1 {
        padding-top: 12rem;
        padding-right: -100px;
        font-size: 2.5rem;
    }
    .caixas {
        flex-direction: column;
    }
    .contato {
        flex-direction: column;
        align-content: center;
    }
    .logo-preto {
        height: 100px;
        margin-bottom: 30px;
    }
    .contact-text {
        font-size: 7vw;
        padding-left: 20px;
    }
    .contatos-itens {
        padding-left: 60px;
    }
}


/* home */

.home {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-image: url("/images/banner.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.home header img {
    padding: 60px 0px 0px 100px;
}

#slogan {
    align-self: flex-end;
    padding-top: 15%;
    padding-right: 10%;
    color: blanchedalmond;
    font-size: 4rem;
}


/* navegacao */

.home header {
    display: flex;
    justify-content: space-around;
}

nav {
    height: 13rem;
}

nav ul {
    width: 50vw;
    padding-top: 70px;
}

nav ul li {
    display: inline;
    padding: 0px 40px 0px 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}


/* Produtos */

.produtos {
    display: flex;
    flex-direction: column;
    background-color: #35363A;
}

.produtos h2 {
    text-align: center;
}

.caixas {
    display: flex;
    justify-content: center;
}

.produtos-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos-box h3 {
    padding-top: 15px;
}

.caixa img {
    height: 100%;
}

.caixa {
    height: 70%;
}


/* contato */

.contato {
    display: flex;
    justify-content: space-between;
    background-color: #B7AB9D;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contatos-itens {
    display: flex;
    padding-top: 10px;
    padding-right: 100px;
}

@media screen and (min-width: 901px) {
    .logo-preto {
        padding-left: 100px;
    }
    .contact-text {
        font-size: 2vw;
        padding-left: 30px;
    }
}


/* Footer */

footer {}

footer p {
    font-size: 30px;
    text-align: right;
    padding-right: 30px;
}